@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Open Sans", sans-serif;
}

.video__frame {
  height: 30rem;
  border: 5px solid #070707;

    @media screen and (max-width: 568px) {
    /* height: 3rem; */
    /* width: 6rem; */
    margin-bottom: 1rem;
  }
}
